
body { 
  margin: 0px; 
  background-color: #ccc; 
}

canvas {
  width: 700px; 
  height: 500px; 
  margin: auto; 
  background-color: #fff; 
  position: relative;
  cursor: url("/images/pencil.png"), auto;
}

#chatbox {
  display: block;
  height: 440px;
  background-color: #fff;
  overflow-y: scroll;
}

#chat-section {
  margin-right:0;
  padding-right:0;
}

#msg {
  max-width: 78%;
  background-color: #fff;
}

#sendmsg {
  display:inline-block;
  padding: 10px
}

#users {
  height: 440px;
  background-color: #e5e5e5;
  padding: 0;
  overflow-y: scroll;
}

#drawing-area {
  padding-right: 0;
}

#intro {
  height: 600px;
  background-image: url("http://ichef-1.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subhead {
  font-size: 1.2em;
  display: block;
  text-align: center;
  color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0 !important;
}

#new-word {
  opacity: 0;
}
